footer{
    padding: 0 5% 5%;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media-logo-container{
    width: 1%;
    font-size: 3em;
    display: flex;
    width: 8%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fa-facebook-square{
    color: #007ACC;
}

.fa-facebook-messenger{
    color: #007ACC;
}


.all-rights{
    font-size: 1.2em;
    font-weight: bold;
    color: #008289;
}